$mobile : '(max-width: 767px)';
$medium : '(min-width: 768px)';
$large : '(min-width: 992px)';
$smallScreen : '(max-width: 992px)';
$veryLarge : '(min-width: 1200px)';
$maxLarge : '(min-width: 1390px)';



$color1 : "#ac5992";
$color2 : '#404363';
$color3 : '#716767';
$color4 : '#3a3a3a';