/*preloder start*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ce4040;
        z-index: 101;
        -webkit-animation: spin 2s ease-in-out infinite;
        animation: spin 2s ease-in-out infinite;
        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #a228ff;
            -webkit-animation: spin 3s ease-in infinite;
            animation: spin 3s ease-in infinite;
        }
        &:after {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #6b96f8;
            -webkit-animation: spin 1.5s ease-in-out infinite;
            animation: spin 1.5s ease-in-out infinite;
        }
    }
 .loader-section{
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background-color: #222;
      z-index: 100;
      &.section-left{
          left: 0;
      }
      &.section-right{
          right: 0;
      }
  }   
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loaded .preloader .loader-section.section-left{
  transform: translateX(-100%);
  transition: all 0.7s 2.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded .preloader .loader-section.section-right{
  transform: translateX(100%);
  transition: all 0.7s 2.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded .loader{
  opacity: 0;
  transition: all .3s 2s ease-in-out;
  
}
.loaded .preloader{
  visibility: hidden;
  transition: all .3s 2s ease-in-out;
}

//navbar
header{
    nav{
        .navbar-brand{
            max-width: 4vw;
            img{
                width: 60px;
                @media #{$large}{
                    width: 100%;
                }
            }
        }
        h2{
            color: #c8479e;
            font-family: 'ZCOOL KuaiLe', cursive !important;
            margin-bottom: 0;
        }
        ul{
            margin: 0;
            text-align: center;
            li{
                @media#{$maxLarge}{
                    margin-right: 10%;
                }
                a{
                    color: #FFF !important;
                }
                padding: 10px 32px;
                font-size: 18px;
                &:hover{
                    background-color: #59548b61;
                    border-radius: 40px;
                }
                @media #{$smallScreen}{
                    margin-bottom: 10px;
                }
            }
            & .active{
                background-color: #59548b61;
                border-radius: 40px;
            }
            &:focus{
                text-shadow: 0px 0px 20px #4234d0;
            }
            @media #{$large}{
                text-align: center;
                &:first-child{
                    margin-left: 11%;
                }
            }
            
        }
        form{
            input{
             font-size: 1.2rem !important;
            border: 2px solid #6A097D;
            &:focus{
                box-shadow: 0 0 11px 0.4rem rgb(173 163 185 / 35%) !important;
            }
            }
        }
    }
}